# data
data/*
!/data/.gitkeep

# env
.env

# generated deployment bundles
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.venv/

# vscode
.vscode

# .cursor
.cursor

# assets
assets/*

# node
**/node_modules
builder/.npm-lock.hash
.cache/
