{% import "components/macros/ui.html" as ui %}

{{ ui.attendance_modal(
     user_id              = attendance_modal_params.user_id,
     date                 = attendance_modal_params.date,
     user_name            = attendance_modal_params.user_name,
     formatted_date       = attendance_modal_params.formatted_date,
     attendance_id        = attendance_modal_params.attendance_id,
     current_location_id  = attendance_modal_params.current_location_id,
     locations            = attendance_modal_params.locations,
     mode                 = attendance_modal_params.mode
) }}
