<!-- Navigation Bar Component -->
<header class="navbar bg-base-200 shadow-sm px-4 py-2">
  <div class="navbar-start">
    <a href="/" class="text-xl font-bold">Sokora</a>
  </div>
  <div class="navbar-end space-x-2">
    <a href="/attendance" class="btn btn-sm btn-accent">Register</a>
    <button class="btn btn-sm btn-primary" @click="$store.encodingModal.toggle()" title="Download CSV">
      <span class="mr-1">CSV</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
      </svg>
    </button>
    <button class="btn btn-sm btn-secondary" @click="$store.importModal.toggle()" title="Upload CSV">
      <span class="mr-1">CSV</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
      </svg>
    </button>
    <a href="/api/docs" class="btn btn-sm btn-info">API</a>
  </div>
</header>