{% extends "layout/base.html" %} {% set title_text = "勤怠確認" %} {%
block content %}
<div class="p-4">
  <div class="flex justify-between items-center mb-4">
    <div>
      <h2 class="text-lg font-bold text-base-content">勤怠確認</h2>
    </div>
  </div>
  <div id="calendar-area">
    {% include "components/top/summary_calendar.html" %}
  </div>

  <div id="detail-area">
    <!-- calendar初期化時に選択日の詳細を1回だけ読み込みます -->
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', path='js/calendar.js') }}" defer></script>
{% endblock %}
