{% import "components/macros/ui.html" as ui %} {% call ui.modal_form( id = modal_id, title = location.id and
"勤務場所編集" or "勤務場所追加", action = location.id and ("/locations/" ~ location.id) or "/locations", method =
location.id and "PUT" or "POST", submit_text = location.id and "更新" or "登録", size="sm" ) %} {{
ui.form_errors(errors) if errors else "" }}

<label class="label"><span class="label-text">勤務場所名</span></label>
<input type="text" name="name" class="input input-bordered w-full" value="{{ location.name | default('') }}" required />
{% endcall %}
