<table class="table table-zebra w-full">
  <thead class="bg-base-300 text-base-content">
    <tr>
      <th class="rounded-tl-lg">従業員名</th>
      <th class="text-right rounded-tr-lg">勤怠登録</th>
    </tr>
  </thead>
  <tbody>
    {% if users|length == 0 %}
    <tr>
      <td colspan="2" class="text-center py-4">
        <div class="alert alert-warning shadow-sm">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="stroke-current shrink-0 h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
            />
          </svg>
          <span>検索条件に一致する従業員が見つかりません。</span>
        </div>
      </td>
    </tr>
    {% else %} {% for user_name, user_id in users %}
    <tr class="hover:bg-base-200">
      <td class="font-medium">{{ user_name }} ({{ user_id }})</td>
      <td class="text-right">
        <div class="flex justify-end gap-2">
          <a href="/attendance/edit/{{ user_id }}" class="btn btn-sm btn-outline shadow-sm hover:shadow">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4 mr-1"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
              />
            </svg>
            勤怠登録
          </a>
        </div>
      </td>
    </tr>
    {% endfor %} {% endif %}
  </tbody>
</table>
