<section class="p-2" hx-swap-oob="true" id="detail-area">
  <div class="space-y-4">
    <div class="flex justify-between items-center">
      <h3 class="text-lg font-bold">
        {{ user_name }} ({{ user_id }}) {% if is_contractor %}<span class="badge badge-neutral">派</span>{% endif %}
        勤務スケジュール
      </h3>

      <div class="btn-group">
        <button
          class="btn btn-sm btn-outline"
          hx-get="/user/{{ user_id }}?month={{ prev_month }}"
          hx-target="#detail-area"
        >
          ＜前月
        </button>
        <button class="btn btn-sm" hx-get="/user/{{ user_id }}" hx-target="#detail-area">今月</button>
        <button
          class="btn btn-sm btn-outline"
          hx-get="/user/{{ user_id }}?month={{ next_month }}"
          hx-target="#detail-area"
        >
          次月＞
        </button>
      </div>
    </div>

    <!-- カレンダービュー -->
    <div class="overflow-x-auto">{% include "partials/calendar_component.html" %}</div>
  </div>
</section>
