<section class="p-2">
  {% if success_message %}
  <div class="alert alert-success mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{ success_message }}</span>
  </div>
  {% endif %}

  <h3 class="text-lg font-bold mb-4">{{ day }}</h3>

  {% if not has_data %}
  <div class="alert bg-base-300 text-base-content">No record</div>
  {% else %}
  <!-- Work Location Data and Employee List -->
  <div class="flex flex-col gap-4">
    <div class="flex-1">
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-6">
        <!-- Work Location Cards -->
        {% for location in locations %}
        <div class="card bg-base-100 shadow w-full min-w-[16rem] max-w-full">
          <div class="card-body px-3 py-3">
            <div class="flex items-center gap-1 mb-1">
              <span class="badge badge-{{ location.badge }}"></span>
              <h4 class="card-title text-sm">{{ location.name }}</h4>
            </div>
            <ul class="menu menu-sm p-0">
              {% for user in data[location.name] %}
              <li hx-get="/api/calendar/user/{{ user.user_id|e }}" hx-target="#detail-area">
                <a class="py-1">{{ user.user_name|e }} ({{ user.user_id|e }})</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</section>